
{% extends 'header.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
<body>
	
	<section id="hero" class="d-flex align-items-center">
	
	  <div class="container">
		<div class="row">
		  <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
			<br>
			<br>
			
			<!-- <h1>Better Solutions For Your Business</h1> -->
			<h1>Quality Assurance Services</h1>
			<!-- <h2>KWARGS Technology aids you in developing high-quality software and giving your end consumers the best possible experience.we are high performers who ensure that your product runs smoothly and adds value</h2> -->
			<h2>Do you have specific needs for Quality Assurance?</h2>
			<div class="d-flex justify-content-center justify-content-lg-start">
			  <a href="{% url 'contact' %}" class="btn-get-started scrollto">CONTACT US</a>
			 <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
			</div>
		  </div>
		  <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
			<img src="{% static 'img/why-us.png' %}" class="img-fluid animated" alt="">
		  </div>
		</div>
	  </div>
	
	  </section><!-- End Hero -->

    
  
       <!-- ======= Services We Offer====== -->
       <section id="Quality" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Quality Assurance Services</h2>
            <p></p>
          </div>

            <div class="row">
    
                <div class="col-lg-12">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <!-- <div class="pic"><img src="{% static 'img/jmplogo.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                    <h4>Go Nimble in Releasing High-Performing Applications</h4>
                    <span></span>
                    <p>Are you seeking to develop quality products and applications with faster time-to-market? KWARGS approach to design and development, integrated with DevSecOps, is bespoke to business need and considers all aspects, from functionality and optimization to security. And to top that, our automation-driven, cost-optimized, and risk-mitigated quality assurance and testing framework follows industry best practices and ensures delivering high-performing products and applications.</p>
                    <!-- <div class="social">
                        <a href=""><i class="ri-twitter-fill"></i></a>
                        <a href=""><i class="ri-facebook-fill"></i></a>
                        <a href=""><i class="ri-instagram-fill"></i></a>
                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div> -->
                    </div>
                </div>
            </div>

        </div>
        </div>
      </section><!-- End Services We Offer Section -->


       <!-- ======= Team Section ======= -->
    <section id="Testimonials" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>What Do We Equip You With?</h2>
            <!-- <h3>Automation Testing</h3> -->
          </div>
  
            <div class="row">
  
                <div class="col-lg-6">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <!-- <div class="pic"><img src="{% static 'img/jmplogo.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                       <h4>Mobile Applications</h4>
                    <span>Automation Testing</span>
                    <p>The mobile app testing framework of KWARGS is compatible with Android, iOS, and Windows. Automate end-to-end tests at scale with support for multiple languages and cross-platform development.</p>
                    <!-- <div class="social">
                        <a href=""><i class="ri-twitter-fill"></i></a>
                        <a href=""><i class="ri-facebook-fill"></i></a>
                        <a href=""><i class="ri-instagram-fill"></i></a>
                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div> -->
                    </div>
                </div>
                </div>
    
                <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <!-- <div class="pic"><img src="{% static 'img/parasar.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                    <h4>Web Applications</h4>
                    <span>Automation Testing</span>
                    <p>Our web application testing framework integrates seamlessly with all kinds of operating systems and browsers. Benefit from cross-application development, load testing, and API access to accelerate the process at a low cost.</p>

                    </div>
                </div>
                </div>
    
                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                    <!-- <div class="pic"><img src="{% static 'img/ravi..png' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                    <h4>Unit Testing</h4>
                    <span>Functionality Testing</span>
                    <p>Validate whether the code units, namely statements, methods, loops, or functions, run perfectly as expected.</p>
                    
                    </div>
                </div>
                </div>
    
                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                    <h4>High-Level Acceptance Testing</h4>
                    <span>Functionality Testing</span>
                    <p>Ensure smooth running of critical system functionalities post-implementation of new features into the code. </p>
                   
                    </div>
                </div>
                </div>

                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                        <h4>Performance Testing</h4>
                        <span>Functionality Testing</span>
                        <p>Make sure that applications meet the optimal speed, resource usage, response time, stability, and resilience under peak workloads.</p>
                      
                    </div>
                </div>
                </div>

                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                        <h4>Usability Testing</h4>
                        <span>Functionality Testing</span>
                        <p>Gain confidence in applications by testing them on target users and mitigate any underlining bugs or errors with expert recommendations.</p>
                        
                    </div>
                </div>
                </div>

                    
                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                    <h4>API Testing</h4>
                    <!-- <span>KWARGS Technology</span> -->
                    <p>Generate sophisticated yet flexibly reusable and maintainable tests to develop highly reliable, secure, and robust applications. Test core functionalities of applications with easy GUI integration while eliminating language dependency. Our well-structured methodology of API testing saves time and ensures that the project is on the right trajectory through to the end.</p>
                        
                    </div>
                </div>
                </div>

                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                        <h4>Smoke Testing</h4>
                        <!-- <span>KWARGS Technology</span> -->
                        <p>Achieve early identification and resolution of issues in near real-time during development, thereby saving time, effort, and resources. Reduce integration with an end-to-end testing process to improve the quality of applications even as ensuring that all functionalities run without interferences.</p>
                        
                    </div>
                </div>
                </div>

                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                        <h4>Exploratory Testing</h4>
                        <!-- <span>KWARGS Technology</span> -->
                        <p>Our manual and automated exploratory testing services make sure that business processes are more optimized and strategic, following an investigative approach. Categorize the defects in applications, craft a strategic roadmap, perform periodic testing, and analyze test results to compare with a prime reference for the elimination of unnecessary test steps.</p>

                    </div>
                </div>
                </div>


                <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                        <h4>Ad-Hoc Testing</h4>
                        <!-- <span>KWARGS Technology</span> -->
                        <p>When unsure of the magnitude of tests required for applications, undertake our ad-hoc testing approach for a specific time period or depending on the frequency and demand. This includes the range of our quality assurance testing fit into a model that best suits the business requirements.</p>
                        
                    </div>
                </div>
                </div>

                <div class="col-lg-12 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                        <h4>Regression Testing</h4>
                        <!-- <span>KWARGS Technology</span> -->
                        <p>Ensure that the functionalities of existing applications don’t get disrupted due to code changes performed recently. Our regression testing framework follows DevSecOps processes and best practices to automate the test steps using advanced analytics and sophisticated tools for real problem-solving for businesses.</p>
                       
                    </div>
                </div>
                </div>

                <div class="col-lg-12 mt-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                    <!-- <div class="pic"><img src="{% static 'img/hb.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                        
                        <h4>Tools We Use</h4>
                        <span>TestLink</span>
                        <span>JIRA</span>
                        <span>JAMA</span>
                        <span>AWS Device Farm</span>
                        <span>Azure DevOps (ADO)</span>

                    <!-- <p>Ensure that the functionalities of existing applications don’t get disrupted due to code changes performed recently. Our regression testing framework follows DevSecOps processes and best practices to automate the test steps using advanced analytics and sophisticated tools for real problem-solving for businesses.</p> -->
                    <!-- <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div> -->
                    </div>
                </div>
                </div>

            </div>
  
        </div>
      </section>
      <!-- End Team Section -->
</body>
</html>

{% endblock %}
