
{% extends 'header.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
<body>
	
	<section id="hero" class="d-flex align-items-center">
	
	  <div class="container">
		<div class="row">
		  <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
			<br>
			<br>
			
			<!-- <h1>Better Solutions For Your Business</h1> -->
			<h1>Web Development </h1>
			<!-- <h2>KWARGS Technology aids you in developing high-quality software and giving your end consumers the best possible experience.we are high performers who ensure that your product runs smoothly and adds value</h2> -->
			<h2>We devise solutions to enhance your business efficiency.</h2>
			<div class="d-flex justify-content-center justify-content-lg-start">
			  <a href="{% url 'contact' %}" class="btn-get-started scrollto">CONTACT US</a>
			 <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
			</div>
		  </div>
		  <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
			<img src="{% static 'img/why-us.png' %}" class="img-fluid animated" alt="">
		  </div>
		</div>
	  </div>
	
	  </section><!-- End Hero -->

    
      <!-- ======= Services We Offer====== -->
      <section id="FAQ" class="faq section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Web Development</h2>
            <p></p>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Make User Experience A Priority with Multiplatform Web Development
                  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    Are you constantly searching for ways to drive optimal value in minimal time? Web Devlopment is the end to your search. KWARGS focuses on equipping customers with Web Development capabilities to develop high-performance, cross-platform applications that feature easy updates. Quality remains at the center of our methodology. With continuous improvement and custom modules, we ensure delivering the most resilient code and user experience while keeping adherence to business requirements and industry standards.
                  </p>
                </div>
              </li>
  
            </ul>
          </div>
  
        </div>
      </section><!-- End Services We Offer Section -->


    <section id="Testimonials" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
            <div class="section-title">
                <h2>Our Offerings</h2>
                <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
            </div>
  
            <div class="row">
  
                <div class="col-lg-6">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <!-- <div class="pic"><img src="{% static 'img/jmplogo.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                       <h4>Wordpress(CMS)</h4>
                    <span>More bloggers, small businesses.</span>
                    <span>Adding website content is fast and simple.</span>
                    <span>Plugins enable you to do just about anything on your website.</span>
                    <span>A wide variety of themes make website design a snap.</span>
                    <!-- <p>Get pay-as-you-go access to compute resources, including servers, networking, and storage on-demand and at scale. Realize virtualization of administrative tasks and eliminate single point of failure.</p> -->
                    
                    </div>
                </div>
                </div>
    
                <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <!-- <div class="pic"><img src="{% static 'img/parasar.jpeg' %}" class="img-fluid" alt=""></div> -->
                    <i class="ri-check-double-line"></i>
                    <div class="member-info">
                    <h4>Python Django</h4>
                    <!-- <span>Platform as a service</span> -->
                        <span>Ridiculously fast.</span>
                        <span>Reassuringly secure.</span>
                        <span>Exceedingly scalable.</span>
                        <span>More quickly and with less code.</span>
                    <!-- <p>Develop, manage, and deliver applications with pre-built tools without worrying about the underlying infrastructure. Leverage managed security, backups, server software, and operating systems.</p> -->
                    </div>
                </div>
                </div>
    
            </div>
  
        </div>
    </section>  
    
</body>
</html>

{% endblock %}
